In [11]:
import pandas as pd

from idealista_client import Idealista

In [15]:
idealista = Idealista("config.ini")

request = {
    "locationId": "0-EU-ES-15-15-001-030-02",
    "propertyType": "homes",
    "operation": "sale",
    "maxItems": 50,
    "maxPrice": 300000,
    "maxSize": 100,
    "minSize": 50,
    "sinceDate": 'M',

}
resultado = idealista.query(request)

In [16]:
df_elementList = pd.json_normalize(resultado, record_path='elementList')
df_elementList

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,propertyType,operation,size,exterior,...,topPlus,priceInfo.price.amount,priceInfo.price.currencySuffix,detailedType.typology,suggestedTexts.title,highlight.groupDescription,priceInfo.price.priceDropInfo.formerPrice,priceInfo.price.priceDropInfo.priceDropValue,priceInfo.price.priceDropInfo.priceDropPercentage,detailedType.subTypology
0,106150844,https://img4.idealista.com/blur/WEB_LISTING/0/...,520258,19,3,230000.0,flat,sale,56.0,True,...,False,230000.0,€,flat,Piso en calle Orzán s/n Sn,Top,NaN,NaN,NaN,NaN
1,106136292,https://img4.idealista.com/blur/WEB_LISTING/0/...,814226,11,NaN,120000.0,penthouse,sale,72.0,True,...,False,120000.0,€,flat,Ático en calle la Torre,Destacado,149000.0,29000.0,19.0,penthouse
2,105714684,https://img4.idealista.com/blur/WEB_LISTING/0/...,B324,17,3,115000.0,flat,sale,66.0,True,...,False,115000.0,€,flat,Piso,Destacado,NaN,NaN,NaN,NaN
3,106340549,https://img4.idealista.com/blur/WEB_LISTING/0/...,529560,4,1,148000.0,flat,sale,93.0,NaN,...,False,148000.0,€,flat,Piso en calle Mauricio Farto Parra,NaN,NaN,NaN,NaN,NaN
4,103345870,https://img4.idealista.com/blur/WEB_LISTING/0/...,EXP05874,19,4,167000.0,flat,sale,60.0,True,...,False,167000.0,€,flat,Piso,NaN,NaN,NaN,NaN,NaN
5,107078135,https://img4.idealista.com/blur/WEB_LISTING/0/...,NaN,30,6,225000.0,flat,sale,65.0,True,...,False,225000.0,€,flat,Piso en plaza de Fuente Seoane,NaN,NaN,NaN,NaN,NaN
6,105575443,https://img4.idealista.com/blur/WEB_LISTING/0/...,N3012,16,3,175000.0,flat,sale,60.0,True,...,False,175000.0,€,flat,Piso,NaN,NaN,NaN,NaN,NaN
7,106935431,https://img4.idealista.com/blur/WEB_LISTING/0/...,NaN,19,2,170000.0,flat,sale,69.0,True,...,False,170000.0,€,flat,Piso en calle Orzán,NaN,NaN,NaN,NaN,NaN
8,107022239,https://img4.idealista.com/blur/WEB_LISTING/0/...,00786,16,3,200000.0,flat,sale,70.0,True,...,False,200000.0,€,flat,Piso en calle San Xoán,NaN,NaN,NaN,NaN,NaN
9,107046762,https://img4.idealista.com/blur/WEB_LISTING/0/...,NaN,3,bj,148000.0,studio,sale,50.0,True,...,False,148000.0,€,flat,Estudio en plaza de España s/n,NaN,NaN,NaN,NaN,studio
10,106969513,https://img4.idealista.com/blur/WEB_LISTING/0/...,NaN,5,1,155000.0,flat,sale,50.0,True,...,False,155000.0,€,flat,Piso,NaN,NaN,NaN,NaN,NaN